<nav class="desktop-nav navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo.jpg" %>
    </a>
    <div class="navbar-section">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-dark" %>
        </li>
      </ul>
    </div>
    </div>
  </div>
</nav>

<!-- Mobile phone -->
<nav class="mobile-nav navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo.jpg" %>
    </a>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-dark" %>
  </div>
</nav>